<!DOCTYPE html>
<html>
	<head>
		<title>Zootology</title>
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
		<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="jumbotron">
			<h1>Zootology</h1>
		</div>

		<!-- Main container !-->
		<div class="container">

			<!-- Section !-->
			<div class='row'>

				<!-- Section Heading !-->
				<div class='col-lg-16'>
					<h3>Query for zoo's</h3>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-10'>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput3'>Write a message</label>
							<input type='text' class='form-control' id='messageInput3' placeholder='message'>
						</div>
					</form>
					<!-- <div><a id="link5" class='btn btn-primary'>link</a></div> -->
				</div>
				<div class='col-lg-10'>
					<h3>Output</h3>
					<div id="linktarget6" class='well' style='scroll: both; overflow: auto; height: 10em;'> Server response.</div>
				</div>
			</div>
			<hr>


			<div class='row'>
				<div class='col-lg-16'>
					<h3>Parse results</h3>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-10'>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput7'>Write a message</label>
							<input type='text' class='form-control' id='messageInput7' placeholder='Type some nifty message'>
						</div>
					</form>
					<!-- <div><a id="link5" class='btn btn-primary'>link</a></div> -->
				</div>
				<div class='col-lg-10'>
					<h3>Output</h3>
					<div id="linktarget7" class='well' style='scroll: both; overflow: auto; height: 10em;'>Server response.</div>
				</div>
			</div>
			<hr>


			<div class='row'>
				<div class='col-lg-16'>
					<h3>Add click handlers</h3>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-10'>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput8'>Write a message</label>
							<input type='text' class='form-control' id='messageInput8' placeholder='Type some nifty message'>
						</div>
					</form>
					<!-- <div><a id="link5" class='btn btn-primary'>link</a></div> -->
				</div>
				<div class='col-lg-10'>
					<h3>Output</h3>
					<div id="linktarget8" class='well' style='scroll: both; overflow: auto; height: 10em;'> Server response.</div>
				</div>
			</div>
			<hr>


			<div class='row'>
					<div class='col-lg-16'>
					<h3>Fire SPARQL DESCRIBE</h3>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-10'>
					<pre class='sparql'>DESCRIBE &lt;http://linkedlifedata.com/resource/umls/id/C0000970&gt;</pre>
					<p><code>{{ url_for('sparql') }}</code></p>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput9'>Write a message</label>
							<input type='text' class='form-control' id='messageInput9' placeholder='Type some nifty message'>
						</div>
					</form>
					<!-- <div><a id="link5" class='btn btn-primary'>link</a></div> -->
				</div>
				<div class='col-lg-10'>
					<h3>Output</h3>
					<div id="linktarget9" class='well' style='scroll: both; overflow: auto; height: 15em;'>Server response.</div>
				</div>
			</div>
			<hr>


			<div class='row'>
				<div class='col-lg-16'>
					<h3>Store results</h3>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-10'>
					<pre class='sparql'>DESCRIBE &lt;http://linkedlifedata.com/resource/umls/id/C0000970&gt;</pre>
					<p><code>{{ url_for('sparql') }}</code> Store server side</p>
					<p><code>{{ url_for('store') }}</code></p>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput10'>Write a message</label>
							<input type='text' class='form-control' id='messageInput10' placeholder='Type some nifty message'>
						</div>
					</form>

					<div><a id="link10" class='btn btn-primary disabled'>link</a></div>
				</div>
				<div class='col-lg-10'>
					<h3>Output</h3>
					<div id="linktarget10" class='well' style='scroll: both; overflow: auto; height: 15em;'>Server response.</div>
				</div>
			</div>
			<hr>


			<div class='row'>
				<div class='col-lg-16'>
					<h3>Query DBPedia</h3>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-10'>
					<pre class='sparql'>
PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX dbo: &lt;http://dbpedia.org/ontology/&gt;
PREFIX dbp: &lt;http://dbpedia.org/property/&gt;
PREFIX dbpedia: &lt;http://dbpedia.org/resource/&gt;
PREFIX dbp-ont: &lt;http://dbpedia.org/ontology/&gt;
PREFIX dbc: &lt;http://dbpedia.org/resource/Category:&gt;
PREFIX rsc: &lt;http://rdf.freebase.com/ns/zoos.zoo.memberships&gt;
PREFIX swz: &lt;http://www.swzooproject.org/vu-group-10/&gt;
PREFIX rs: &lt;http://spektrum.ctu.cz/ontologies/radio-spectrum#&gt;
PREFIX fb: &lt;http://rdf.freebase.com/ns/&gt;
PREFIX http: &lt;http://www.w3.org/2011/http#&gt;
PREFIX dbp-prop: &lt;http://dbpedia.org/property/&gt;
PREFIX dct: &lt;http://purl.org/dc/terms/&gt;
PREFIX dc: &lt;http://purl.org/dc/elements/1.1/&gt;
PREFIX geo: &lt;http://www.w3.org/2003/01/geo/wgs84_pos#&gt;


CONSTRUCT { 
  ?Zoo a swz:Zoo ;
    rdfs:comment ?comment;
    dbo:wikiPageExternalLink ?link ;
    rdfs:label ?label ;
    geo:geometry ?geometry;
    geo:lat ?latitude;
    geo:long ?longitude .
}
WHERE {
  ?Zoo dct:subject dbc:Zoos_in_the_Netherlands ;
       rdfs:comment ?comment;
       dbo:wikiPageExternalLink ?link ;
       rdfs:label ?label ;
       geo:geometry ?geometry;
       geo:lat ?latitude;
       geo:long ?longitude .
}
}					</pre>
					<p><code>{{ url_for('sparql') }}</code></p>
					<p>We specify a query button that allows us to <em>post</em> the response to our own triple store.</p>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput11'>Write a message</label>
							<input type='text' class='form-control' id='messageInput11' placeholder='Type some nifty message'>
						</div>
					</form>

					<div><a id="link11" class='btn btn-primary disabled'>Query</a></div>
				</div>
				<div class='col-lg-10'>
					<h3>Output</h3>
					<div id="linktarget11" class='well' style='height: 15em; scroll: both; overflow: auto;'>Server response</div>
				</div>
			</div>
			<hr>


			<div class='row'>
				<div class='col-lg-16'>
					<h3>Add some Schema</h3>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-10'>
					<textarea class="form-control" id="schema" class='turtle' style='width: 100%' rows='10'>
@prefix owl:  &lt;http://www.w3.org/2002/07/owl#&gt; .
@prefix dbo: &lt;http://dbpedia.org/ontology/&gt;.
@prefix dbpedia: &lt;http://dbpedia.org/resource/&gt; .
@prefix : &lt;http://www.swzooproject.org/vu-group-10/&gt; .

#################################################################
#    Object Properties
#################################################################

###  http://www.semanticweb.org/owl/owlapi/turtle#AnimalProperties
:AnimalProperties rdf:type owl:ObjectProperty ;
                  rdfs:domain :Animal ;
                  rdfs:range :AnimalProperties .


###  http://www.semanticweb.org/owl/owlapi/turtle#Breathes
:Breathes rdf:type owl:ObjectProperty ;
          rdfs:subPropertyOf :AnimalProperties ;
          rdfs:domain :Animal ;
          rdfs:range :Breathes .


###  http://www.semanticweb.org/owl/owlapi/turtle#Employs
:Employs rdf:type owl:ObjectProperty ;
         owl:inverseOf :worksAt .


###  http://www.semanticweb.org/owl/owlapi/turtle#ProcreationBy
:ProcreationBy rdf:type owl:ObjectProperty ;
               rdfs:subPropertyOf :AnimalProperties ;
               rdfs:domain :Animal ;
               rdfs:range :Procreation .


###  http://www.semanticweb.org/owl/owlapi/turtle#hasAnatomy
:hasAnatomy rdf:type owl:ObjectProperty ;
            rdfs:subPropertyOf :AnimalProperties ;
            rdfs:domain :Animal ;
            rdfs:range :Anatomy .


###  http://www.semanticweb.org/owl/owlapi/turtle#hasAnimal
:hasAnimal rdf:type owl:ObjectProperty .


###  http://www.semanticweb.org/owl/owlapi/turtle#hasBodyTemperature
:hasBodyTemperature rdf:type owl:ObjectProperty ;
                    rdfs:subPropertyOf :AnimalProperties ;
                    rdfs:domain :Animal ;
                    rdfs:range :BodyTemperature .


###  http://www.semanticweb.org/owl/owlapi/turtle#worksAt
:worksAt rdf:type owl:ObjectProperty .
 
					</textarea>
					<p><code>{{ url_for('store') }}</code></p>
					<div><a id="link12" class='btn btn-primary'>Store</a></div>
				</div>
				<div class='col-lg-10'>
					<h3>Output</h3>
					<div id="linktarget12" class='well' style='height: 15em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>
			<hr>


			<div class='row'>
				<div class='col-lg-16'>
					<h3><code>rdf:type</code> relations</h3>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-10'>
					<pre id='query13' class='sparql' style='width: 100%' rows='10'>
PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX dbo: &lt;http://dbpedia.org/ontology/&gt;
PREFIX dbp: &lt;http://dbpedia.org/property/&gt;
PREFIX dbpedia: &lt;http://dbpedia.org/resource/&gt;
PREFIX dbp-ont: &lt;http://dbpedia.org/ontology/&gt;
PREFIX dbc: &lt;http://dbpedia.org/resource/Category:&gt;
PREFIX rsc: &lt;http://rdf.freebase.com/ns/zoos.zoo.memberships&gt;
PREFIX swz: &lt;http://www.swzooproject.org/vu-group-10/&gt;
PREFIX rs: &lt;http://spektrum.ctu.cz/ontologies/radio-spectrum#&gt;
PREFIX fb: &lt;http://rdf.freebase.com/ns/&gt;
PREFIX http: &lt;http://www.w3.org/2011/http#&gt;
PREFIX dbp-prop: &lt;http://dbpedia.org/property/&gt;
PREFIX dct: &lt;http://purl.org/dc/terms/&gt;
PREFIX dc: &lt;http://purl.org/dc/elements/1.1/&gt;
PREFIX geo: &lt;http://www.w3.org/2003/01/geo/wgs84_pos#&gt;

SELECT ?x ?y WHERE {
  ?x :hasAnimal ?y .
}
					</pre>
					<p><code>{{ url_for('sparql') }}</code></p>
					<div><a id="link13" class='btn btn-primary'>link</a></div>
				</div>
				<div class='col-lg-10'>
					<h3>Output</h3>
					<div id="linktarget13" class='well' style='height: 15em; scroll: both; overflow: auto;'>Server response.</div>
				</div>
			</div>
			<hr>


			<div class='row'>
				<div class='col-lg-16'>
					<h3>Parsing query results</h3>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-10'>
					<textarea id='query14' class='sparql' style='width: 100%' rows='10'>
PREFIX owl: &lt;http://www.w3.org/2002/07/owl#&gt;
PREFIX dbo: &lt;http://dbpedia.org/ontology/&gt;
PREFIX dbpedia: &lt;http://dbpedia.org/resource/&gt;
PREFIX swz: &lt;http://www.swzooproject.org/vu-group-10/&gt;

SELECT ?x ?y WHERE {
  dbpedia:Diergaarde_Blijdorp ?x ?y .
}
</textarea>
					<p><code>{{ url_for('sparql') }}</code></p>
					<div><a id="link14" class='btn btn-primary'>Query</a></div>
				</div>
				<div class='col-lg-10'>
					<h3>Output</h3>
					<div id="linktarget14" class='well' style='height: 15em; scroll: both; overflow: auto;'>Server response.</div>
				</div>
			</div>

		</div>

		<script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
		<script src='{{ url_for("static", filename="js/tutorial.js") }}' type='text/javascript'></script>


	</body>
</head>
